<main>
    <div class="container px-5 px-sm-0">
        <div class="row">
            <%= render 'sidebar', genres: @genres %>
            <div class="col-md-8">
                <%= image_tag('top_frame.png', class: "img-fluid") %>
                <p>ようこそ、ながのCAKEへ！</p>
            </div>
        </div>
    </div>
</main>